#contentfm {
    display: flex;
    gap: 24px;
    flex-direction: column;
    @media ( min-width: 790px) {
        flex-direction: row;
    }
    #pnlContentForm {
        background-color: white;
        padding: 24px; 
        width: 100%;
        @media ( min-width: 790px) {
            width: calc( 40% - 12px );
        }
        max-width: unset !important;
        flex: unset;
        box-shadow: unset;
        border: 1px solid rgba(0,0,0,0.15);
        .container-fluid .row {
            .col-12 {   
                display: flex;
                flex-wrap: wrap;
                gap: 12px;
                input, #lblCoodenadaY, #lblCoodenadaX{
                    height: 40px!important;
                    box-sizing: border-box;
                }
                textarea{
                    box-sizing: border-box;
                }
                input, textarea {
                    padding: 16px!important;
                }
                label{
                    font-size: 16px!important;
                    color: #7d9ab3!important;
                    background-color: white!important;
                    text-transform: capitalize!important;
                    margin: -4px 0;
                    margin-left: 4px;
                    overflow: hidden; 
                    max-width: 100%;
                    &.active{
                        padding: 3px 7px;
                    }
                }
                .alert-validacion-formulario{
                    box-shadow: none;
                    margin-top:4px!important;
                    font-size: 14px;
                }
                .md-form{
                    margin-top: 0!important;
                }
                .form-group{
                    width: 100%;
                    &:nth-child(6){
                        display: none;
                        .input-group{
                            gap: 16px;
                        }
                        #lblCoodenadaY, #lblCoodenadaX {
                            background-color: #e8f4f4!important;
                            border-color: #e8f4f4!important;
                            color: #072146!important;
                            font-size: 16px!important;
                            text-align: center!important;
                            text-transform: capitalize!important;
                            padding: 6px 0;
                            overflow: hidden;

                        }
                    }
                    &:last-child{
                        
                        >div{
                            width: 100%;
                            #btnLimpiarFormulario, #btnLimpiarFormulario span{
                                background-color: #e8f4f4!important;
                                border-color: #bcd0d9!important;
                                color: #072146!important;
                                font-size: 16px!important;
                                text-align: center!important;
                                text-transform: capitalize!important;
                                box-shadow: none;
                            }
                        }
                    }
                }
                
            }
        }
    };
    #pnlContentMap{
        width: 100%;
        @media ( min-width: 790px) {
            width: calc( 60% - 12px );
        };
        max-width: unset;
        flex: unset;
    };
}
